.header {
  display: flex;
  margin-bottom: 2rem;
}

.header h2 {
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.header div {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  color: #182135;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 5px 10px;
}

/* styles.module.css */

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.userMessage {
  background-color: #cce5ff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  align-self: flex-end;
  max-width: 70%;
}

.brandMessage {
  background-color: #f0f0f0;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 100px); /* Establecer una altura mínima */
  max-height: calc(100vh - 50px); /* Establecer una altura máxima */
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.sendButton {
  padding: 8px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

